{% extends 'base.html' %}

{% block content %}


{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

{% if name %}

<h1>Hello {{ name|title}} aged {{age}}</h1>

{% else %}
<h1>What is your name bruh?</h1>
<div class="row">
    <form action="" method="POST" class="my-4">
        {{ form.hidden_tag()}}
        {{ form.name.label(class="form-label")}} {{ form.name(class="form-control")}}
        {{ form.age.label(class="form-label")}} {{form.age(class="form-control")}}
        <br>
        {{form.submit(class="btn btn-secondary")}}
    </form>
</div>
{% endif %}
{% endblock content %}